.card {
  margin: 0;
  max-width: 282px;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
}

.card__pic {
  display: block;
  width: 282px;
  height: 282px;
  object-fit: cover;
}

.card__wrapper {
  padding-left: 20px;
  padding-right: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 79px;
}

.card__title {
  margin: 0;
  font-size: 24px;
  font-weight: 900;
  max-width: 211px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__like-button {
  padding: 0;
  width: 21px;
  height: 18px;
  background: transparent url("../images/like-button.svg") center no-repeat;
  border: none;
}

.card__like-button:hover {
  cursor: pointer;
  opacity: 0.5;
}
