.footer {
  padding-top: 67px;
  color: #545454;
  line-height: 1;
}

.footer__text {
  margin: 0;
  padding: 0;
}

@media (max-width: 600px) {
  .footer {
    padding-top: 48px;
  }

  .footer__text {
    line-height: 1.2;
    font-size: 14px;
  }
}
