.modal {
  display: block;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.5s;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0;
  border: none;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal_opened {
  display: block;
  position: fixed;
  visibility: visible;
  opacity: 1;
}

.modal__container {
  position: relative;
  margin: 195px auto 0;
  border-radius: 10px;
  width: 430px;
  height: 330px;
  background-color: #fff;
}

.modal__form {
  box-sizing: border-box;
  padding: 36px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.modal__header {
  margin: 0;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;
}

.modal__text-input {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  padding-bottom: 13px;
  font-family: "Inter", Arial, sans-serif;
  font-size: 14px;
  line-height: 1;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}

.modal__text-input_error {
  border-bottom-color: #f00;
}

.modal__text-input-error {
  justify-self: flex-start;
  font-family: "Inter", Arial, sans-serif;
  font-size: 12px;
  line-height: 1.2;
  color: #f00;
}

.modal__submit {
  border: none;
  border-radius: 2px;
  min-height: 51px;
  width: 100%;
  font-family: "Inter", Arial, sans-serif;
  font-size: 18px;
  line-height: 1;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  background-color: #000;
}

.modal__submit:hover {
  cursor: pointer;
  opacity: 0.6;
}

.modal__submit_inactive {
  background-color: #fff;
  opacity: 0.2;
  color: #000;
  border: 1px solid #000;
}

.modal__submit_inactive:hover {
  cursor: default;
  opacity: 0.2;
}

.modal__close {
  position: absolute;
  top: -40px;
  right: -40px;
  border: none;
  width: 40px;
  height: 40px;
  background: transparent url("../images/close-button.svg") center no-repeat;
}

.modal__close:hover {
  cursor: pointer;
  opacity: 0.6;
}

@media (max-width: 600px) {
  .modal__container {
    margin-top: 123px;
    max-width: 90%;
  }

  .modal__header {
    font-size: 18px;
  }

  .modal__close {
    width: 26px;
    height: 26px;
    top: -40px;
    right: 10px;
    background-size: 26px;
  }
}
