.picture-modal__container {
  position: relative;
  margin: 90px auto;
  width: fit-content;
}

.picture-modal__figure {
  margin: 0 auto;
  text-align: center;
  overflow: auto;
}

.picture-modal__picture {
  display: block;
  max-height: 75vh;
  max-width: 75vw;
}

.picture-modal__title {
  padding-top: 10px;
  color: #fff;
  text-align: left;
  font-family: "Inter", Arial, sans-serif;
  font-size: 12px;
  line-height: 1.2;
  font-weight: 400;
}

@media (max-width: 600px) {
  .picture-modal__close {
    top: -30px;
    right: -30px;
  }
}
