.user {
  padding-top: 40px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 30px;
  flex-wrap: nowrap;
  min-height: 120px;
  color: #fff;
}

.user__pic {
  flex-shrink: 0;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}

.user__info {
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  min-width: 100px;
  max-width: 62%;
}

.user__wrapper {
  display: flex;
  gap: 18px;
  align-items: center;
  width: 100%;
}

.user__name {
  flex-shrink: 1;
  margin: 0;
  font-weight: 500;
  font-size: 42px;
  line-height: 1.14;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 92%;
}

.user__name-changer {
  flex-shrink: 0;
  background: transparent url("../images/pen.svg") center no-repeat;
  border: 1px #fff solid;
  border-radius: 0;
  width: 24px;
  height: 24px;
}

.user__name-changer:hover {
  cursor: pointer;
  opacity: 0.6;
}

.user__status {
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
}

.user__add-picture {
  flex-shrink: 0;
  padding: 0;
  width: 150px;
  height: 50px;
  background: transparent url("../images/add-button.svg") center no-repeat;
  border: 2px #fff solid;
  border-radius: 0;
  margin-left: auto;
}

.user__add-picture:hover {
  cursor: pointer;
  opacity: 0.6;
}

@media (max-width: 584px) {
  .user {
    justify-content: center;
  }

  .user__name {
    font-size: 22px;
  }

  .user__name-changer {
    width: 18px;
    height: 18px;
    background-size: 7.5px;
  }

  .user__info {
    align-items: center;
  }

  .user__add-picture {
    background-size: 16px;
    max-width: 87%;
  }
}

@media (max-width: 764px) {
  .user {
    flex-wrap: wrap;
  }

  .user__info {
    max-width: 70%;
  }

  .user__add-picture {
    margin: 0;
    width: 100%;
  }
}
